.forgot{
    height: 95vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .2rem;
}
.forgot>div{
    padding: 2rem 12rem;
}
.inline{
    display: flex;
}
.inp{
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px 0 0 8px;
    padding: .8rem 10rem;
    padding-left: 1rem;
}
.btn{
    color: white;
    border:none;
    padding: .8rem ;
    border-radius: 0 8px 8px 0;
    background: var(--buttonBg);
    transition:all .5s;
}
.btn:hover{
    cursor: pointer;
  
  }
  